@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


* {
  box-sizing: border-box;
  
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #222;
}

/*navigation*/
.navbar {
  width: 100%;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url("images/intro-mango.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/*brand could be name or image*/
.brand a{
    font-family: 'Architects Daughter', cursive;
    color:#0B0753;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar .nav-list {
  padding: 3rem 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
}

.nav-list li {
  margin: 1rem 0;
  letter-spacing: 0.1rem;
}
.nav-list li a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.4rem;
  color: inherit;
}
.nav-list li a:hover{
    background: #C5F1FF;
    border: 1px solid #C5F1FF;
    border-radius: 10px;
    
}
.navbar .toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    outline: none;
}
.toggler .line1,.line3 {
    display: block;
    width: 27px;
    height: 3px;
    border-radius:8px;
    background-color: #222;
    margin-bottom: 0.4rem;
    /*from hamburger to cross*/
    transition: 0.4s;
}
.toggler .line2{
    display: block;
    width: 20px;
    height: 3px;
    border-radius:8px;
    background-color: #222;
    margin-bottom: 0.4rem;
    /*from hamburger to cross*/
    transition: 0.4s;
}

.cross .line1{
    transform: rotate(-45deg) translate(-9px, 6px);
}
.cross .line2{
    opacity: 0;
}
.cross .line3{
    transform: rotate(45deg) translate(-7px, -5px);
}
section .title {
    font-family: sans-serif;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    margin-top:-35px;
}
section .title::before{
    content: "";
    color: #0B307E;
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    font-family: sans-serif;
    position: absolute;
    bottom: -130px;
    left: 50%;
    font-size: 20px;
    color: #3D77E2  ;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
#intro{
    background-image: url("images/intro-mango.jpg");
    margin-top: -2px;
    height: 502px;
    width: 100%;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#intro .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 170px;
}
#intro .text .one,.two,.three{
    font-size: 33px;
    line-height:50px;
    letter-spacing: 4px;
    margin-top: 0px;
    text-align: center;
}

#store{
    background-color: #EEE;
    padding-top:40px;
    text-align: center;
}
#store .title::after {
    margin-bottom: 100px;
    background-color: #EEE;
    content: "What We Sell";
}
#store .row{
    padding-top: 20px;
    padding-bottom:30px;
    display:flex;
    flex-direction : row;
    justify-content : space-evenly;
    flex-flow : wrap;
}
#store .row .card {
  width: 255px;
  height: 315px;
  perspective: 500px;
  margin-top: 30px;
}

#store .row .card #firstCard, #secondCard, #thirdCard {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

/*#store .row .card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}*/

#store .row  .front,.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 10px;
    backface-visibility: hidden;
}
#store .row .card .front{
    background-image: url("images/langra.jpeg ");
    background-size: contain;
    background-position: center 25px;
    background-repeat: no-repeat;
    
}
#store .row .card  .front .name{
    text-align: center;
    padding-top: 200px;
    font-size: 30px;
    font-weight: 450;
    
}
#store .row .card .front .bottom{
    display:flex;
    margin-top: 0px;
    
}
#store .row .card .front .bottom .details{
    color: #fff;
    background-color: #A0A7F3;
    font-size: 19px;
    letter-spacing: 1.4px;
    border-radius:3px;
    margin-left: 30px;
    position: absolute;
    bottom: 14px;
    padding: 5px 7px;
    font-weight: 700;
    box-shadow: 2px 2px 25px -7px #4C4C4C;
}
#store .row .card .front .bottom .details:hover{
    transition: 0.4s;
    transform: scale(1.06);
}
#store .row .card .front .bottom .details a{
    text-decoration: none;
    color: #fff;
}
#store .row .card .front .bottom .cart{
    font-size: 28px;
    color: darkblue;
    padding-left: 207px;
    padding-top: 35px;
    
}
#store .row .card .back {
  background: #FAFAFA;
  color: white;
  transform: rotateY( 180deg );
}
#store .row .card .back .name{
    color: #07042B;
    padding-top: 4px;
    text-align: center;
    font-size: 28px;
    font-weight: 450;
}
#store .row .card .back .price{
    text-align: center;
    margin-top: 15px;
    padding-top: 20px;
    font-size: 18px;
    color: #FF3F40;
    letter-spacing: 3px;
}
#store .row .card .back .price span{
    font-size: 35px;
}
#store .row .card .back .quantity{
    display: flex;
    color:Black;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}
#store .row .card .back .cost{
    padding-top: 32px;
    display: flex;
    color:Black;
    justify-content: center;
    font-size: 20px;
}
#store .row .card .back input{
    background-color: #FAFAFA;
    margin-left: 8px;
    margin-right: 7px;
    height: 22px;
    width:50px;
    font-size: 21px;
    font-weight: 500;
    border: none;
    outline: none;
}
#store .row .card .back .bottom {
    display: flex;
    margin-top: 0px;

}
#store .row .card .back .bottom .backward{
    font-size: 28px;
    color: darkblue;
    position: absolute;
    bottom: 14px;
    margin-left: 20px;
}
#store .row .card .back .bottom .button{
    position: absolute;
    bottom: 10px;
    left: 80px;
    padding: 9px 7.5px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color: #FFA909;
    box-shadow: 2px 2px 25px -7px #4C4C4C;
    cursor: pointer;
}
#store .row .card .back .button:hover{
    transition: 0.4s;
    transform: scale(1.06);
}











@media (max-width: 867px) {
  /*hide nav by transform*/
    .nav-list-container {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #F6F7FF;
        z-index: 2;
        transform: translateX(-100%);
        /*nav sidebar speed*/
        transition: all 0.5s ease-out;
        opacity: 0.9;
  }
  .nav-list-container:active{
      
  }
}

/*make nav visible by transform*/
.nav-active {
    transform: translateX(0%);
    opacity: 1;
}
@media  (min-width: 768px) {
    .navbar {
        justify-content: space-around;
        padding: 0.4rem 0;
    }
     /*make nav-list horizontal on big screens*/
     .navbar .nav-list {
         display: flex;
         flex-direction: row;
         padding: 0;
     }
    .nav-list li {
        margin: 0 0.4rem;
     }
    .nav-list li a{
        margin: 0 5px;
    }
     /*hide toggler button on big screens*/
     .navbar .toggler {
         display: none;
     }
     
     
 }
 